* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body {
   font-size: 13px;
   overflow-x: hidden;
}

/* ----------------- Menu ----------------- */
header {
   height: 100px;
   background-color: #000000;
}
.header {
   max-width: 1140px;
   height: 100px;
   margin: auto;
   display: flex;
   align-items: center;
}
.logo {
   width: 100px;
}
.logo-img {
   width: 80px;
   height: 80px;
}
.menu {
   flex: 1;
   display: flex;
   justify-content: flex-end;
}
.menu ul, .menu li {
   list-style: none;
}
.menu ul {
   display: flex;
}
.menu li a {
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 600;
   text-decoration: none;
   padding: 0 5px 0 5px;
   height: 100px;
   display: flex;
   align-items: center;
   border-bottom: 5px solid transparent;
}
.menu li a:hover, .menu .active a {
   color: #b28756;
   border-bottom: 5px solid #b28756;
}

/* ----------------- Button ----------------- */
.btn {
   display: inline-block;
   background-color: #b28756;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 600;
   text-decoration: none;
   padding: 10px 30px;
   margin-top: 20px;
   border-radius: 20px;
}

/* ----------------- Banner ----------------- */
.banner {
   height: calc(100vh - 100px);
   background-image: url('../images/bg.jpg');
   background-size: cover;
   background-position: bottom;
   overflow: hidden;
}
.banner .sliders {
   width: 1000vw;
   height: 100%;
}
.banner .slide {
   width: 100vw;
   height: 100%;
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.8);
}
.banner .slide-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   color: #ffffff;
}
.banner h1 {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 50px;
}
.banner h1 span {
   color: #b28756;
}
.banner h2 {
   text-transform: uppercase;
   margin-top: 20px;
}
.banner .sliders-pointers {
   width: 100vw;
   height: 20px;
   position: absolute;
   margin-top: -50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.banner .pointer {
   width: 15px;
   height: 15px;
   border: 2px solid #b28756;
   border-radius: 8px;
   margin: 0 5px;
   cursor: pointer;
}
.banner .pointer.active {
   background-color: #b28756;
}

/* ----------------- Default ----------------- */
.default {
   width: 100vw;
   padding: 50px 0;
}
.default .section-title, 
.default .section-desc {
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
}
.default .section-title{
   font-size: 20px;
}
.default .section-desc {
   font-size: 12px;
   color: #A4A4A4;
   margin: 10px 0 40px 0;
}
.default .section-body {
   max-width: 1140px;
   margin: auto;
}
.default.light {
   background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body {
   color: #000000;
}
.default.dark {
   background-color: #000000;
}
.default.dark .section-title,
.default.dark .section-body  {
   color: #ffffff;
}


/* ----------------- CSS de areas especificas ----------------- */

/* ----------------- Seção About Us ----------------- */
.section-aboutus {
   display: flex;
}
.section-aboutus--left {
   flex: 1;
}
.section-aboutus--left p {
   font-size: 14px;
   line-height: 25px;
}
.section-aboutus--right {
   width: 500px;
   text-align: center;
}
.section-aboutus--right img {
   width: 480px;
   box-shadow: 0 5px 10px #333333;
}

/* ----------------- Seção Services ----------------- */
.section-services {
   display: flex;
}
.section-services--content {
   flex: 1;
   text-align: center;
   padding: 15px;
   border-right: 1px solid #333333;
}
.section-services--content:first-child {
   border-left: 1px solid #333333;
}
.section-services--content img {
   max-width: 50px;
   height: 50px;
}
.section-services--content h4 {
   margin-top: 20px;
   text-transform: uppercase;
   font-size: 18px;
}
.section-services--content p {
   margin-top: 10px;
   font-size: 13px;
   color: #999999;
}

/* ----------------- Seção Our Projects ----------------- */
.section-projects {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.section-projects--filters {
   border: 1px solid #cccccc;
   background-color: #eeeeee;
   border-radius: 30px;
   display: inline-block;
   padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
   list-style: none;
}
.section-projects--filters li {
   display: inline-block;
   padding: 10px;
   text-transform: uppercase;
   font-size: 13px;
   border-left: 1px solid #cccccc;
   border-bottom: 3px solid transparent;
   color: #555555;
   cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
   border-bottom: 3px solid #b28756;
} 
.section-projects--filters li:first-child {
   border-left: none;
}
.section-projects--photos {
   width: 100vw;
   max-width: 1140px;
   margin-top: 20px;
   background-color: gray;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.section-projects--photo {
   width: 280px;
}