* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   height: 100px;
   background-color: #000000;
}

.header {
   max-width: 1140px;
   height: 100px;
   margin: auto;
   display: flex;
}